*{
    box-sizing: border-box;
}
Button{
    width: 100%;
}

.sign-cont{
     margin-top: 4%; 
}

.header{
  background-color: rgb(211, 228, 228);
  width: 100%;
  height: 200px;
  padding-top: 50px;
}

.todos{
    width: 15%;    
}
.card{
    margin-top: 20px;
    width:300px ;
    line-height: 60px;
}
.homebutton{
    display: flex;
    justify-content:center;
    align-items: center;
}
 @media(min-width: 1200px){
   .home-cont{max-width: 1000px !important;
   }
} 

@media (min-width: 992px){
    .sign-cont{
         max-width: 800px !important;
   }
 }
.login-cont{
     margin-top: 5%;
}

@media (min-width: 992px){
   .login-cont{
        max-width: 750px !important;
  }
}

.card{
    width:290px ;
    line-height: 40px;
    margin-top:10px;
}
.carddiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h4{
    margin-top: 50px;
}
.homediv{
    height: 100%;
    padding-top: 50px;
}
.addtodo{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.fa-plus{
    margin-top: 3px;
    font-size: 20px;
}
.addpara{
    font-size: 19px;
}
.date{
    display: flex;
}
.fa-clock{
    margin-left: 70px; 
    margin-top: 8%;
}
.cardicon{
    display: flex;
    justify-content: flex-end;
}
.fa-pen-to-square{
    color: rgb(136, 136, 66);
    margin-right: 10px;
}
.fa-trash-can{
   color: red;
}
@media(min-width: 1200px){
    .todo-cont{max-width: 1000px !important;
    }
 } 
